*{
    margin: 0;
    padding: 0;
}
.box{
    margin: auto;
    width: 500px;
    height: 200px;
    border: 1px solid #000000;
    position: relative;
}
.dinozavr{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}
.jump{
    animation: dinozavr 0.5s;
}
@keyframes dinozavr {
    0%{
        bottom: 0;
    }
    30%{
        bottom: 60px;
    } 
    50%{
        bottom: 60px;
    } 
    70%{
        bottom: 60px;
    } 
    100%{
        bottom: 0;
    }
}
.block{
    height: 30px;
    width: 20px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: block 1s infinite linear;
}

@keyframes block{
    from{
        right: 0;
    }
    to{
        right: 500px;
    }

}